.header-about {
    width: 95%;
    height: 35vw;
    position: relative;
    border: 5px solid black;
    color: black;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
    display: flex;
}

.header-about-content {
    background: url("./bg-ab.png") no-repeat;
    background-position: right;
    height: 438.8px;
    border-radius: 14px;
    padding-bottom: 50px;
}

.header-about-teks {
    margin: 65px;
    width: 40%;
}

.header-about-content h1 {
    font-size: 23px;
}

.header-about-content p {
    padding: 20px 0;
}

.header-about img {
    width: 25px
}